* {
  box-sizing: border-box;
  font-family: "Noto Sans Shavian", sans-serif;
  margin: 0;
  padding: 0;
}
html {
  min-width: 360px !important;
  scroll-behavior: smooth;
}

.header {
  /*        NAVEGACIÓN            */
  .navbar {
    background-color: #353a40;

    .navbar-brand {
      margin: 0;

      & img {
        height: 50px;
        margin: 0;
      }
    }
    .container-fluid h3 {
      color: #ffffff;
      font-weight: 100;
      display: none;
    }
    .navbar-toggler {
      border: 1px solid #242525;
    }
    .navbar-collapse {
      background-color: #4c5055;

      .nav-item .nav-link {
        color: #949da2;
      }
      .nav-item .nav-link:hover {
        transform: scale(1.2);
        transition: 0.3s ease-in;
      }
      .nav-item .nav-link-white {
        color: #ffffff;
      }
      .nav-item .nav-link-green {
        color: #338d47;
      }
    }
  }
}
/*           PORTADA              */
.container-hero {
  background: linear-gradient(to right, #0000006e, #0000006c),
    url(../assets/img/ba1.jpg) no-repeat 28% 72% / cover;
  height: 250px;

  .container-hero-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    .title {
      color: #ffffff;
      font-weight: 800;
      text-align: center;
    }
    .description {
      color: #ffffff;
      padding: 0.5em;
      text-align: center;

      .description-hidden {
        display: none;
      }
    }
    .container-buttons {
      display: flex;
      justify-content: center;
      gap: 1em;

      .btn-hero {
        color: #ffffff;
        border-radius: 5px;
        padding: 10px 10px;
        text-decoration: none;
      }
      .btn-hero.btn-orador {
        border: 1px solid #676e75;
      }
      .btn-hero.btn-ticket {
        background-color: #27a844;
        border: 1px solid #388e3c;
      }
    }
  }
}

.main {
  /* ESTILOS PÁGINA PRINCIPAL */
  .section-oradores {
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;

    .title-oradores {
      background-color: #5b656e;
      padding: 10px 0;
      text-align: center;
      text-transform: uppercase;
      width: 100%;
    }
    .container-cards-index {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 15px;

      .cards-index {
        border: 1px solid #949da2;
        border-radius: 5px;
        overflow: hidden;
        width: 350px;

        .img-cards {
          object-fit: cover;
          height: 280px;
          width: 100%;
        }
        .container-info-cards {
          padding: 20px;

          .name-tech {
            font-size: 0.9em;
            font-weight: bold;
            margin-bottom: 5px;

            .tech-yellow {
              background-color: #d4950b;
              border-radius: 4px;
              margin-right: 5px;
              padding: 2px 8px;
            }
            .tech-light-blue {
              background-color: #2795a3;
              border-radius: 4px;
              color: #ffffff;
              margin-right: 5px;
              padding: 2px 8px;
            }
            .tech-grey,
            .tech-red {
              border-radius: 4px;
              color: #ffffff;
              margin-right: 5px;
              padding: 2px 8px;
            }
            .tech-grey {
              background-color: #717272;
            }
            .tech-red {
              background-color: #d61717;
            }
          }
          .name-oradores {
            font-weight: bold;
          }
        }
      }
    }
  }
  .section-tour {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    padding-bottom: 1em;

    .img-tour {
      background: url(../assets/img/honolulu.jpg) no-repeat center / cover;
      height: 300px;
      width: 100%;
    }
    .info-tour {
      background-color: #353a40;
      color: #fff;
      padding: 15px;
      width: 100%;

      .title-tour {
        font-weight: bold;
      }
      .description-tour {
        line-height: 1.6;
      }
      .btn-tour {
        border: 1px solid #fff;
        border-radius: 5px;
        color: #fff;
        padding: 10px 15px;
        text-decoration: none;
      }
    }
  }
  .section-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 1em;

    .title-form {
      background-color: #5b656e;
      padding: 10px 0;
      text-align: center;
      text-transform: uppercase;
      width: 100%;
    }
    .info-form {
      font-size: 0.9em;
      padding: 0 10px;
      text-align: center;
    }
    /*            FORM               */
    .form-index {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 50%;
      min-width: 300px;

      .container-inputs {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
      }
      .input-form,
      .text-form {
        border: 1px solid #242525;
        border-radius: 3px;
        outline: none;
        padding: 5px 8px;
        width: 100%;
      }
      .info-2 {
        align-self: flex-start;
        padding: 0;
      }
      .input-form-submit {
        background-color: #96c93e;
        border: none;
        border-radius: 3px;
        color: #fff;
        padding: 5px;
      }
    }
  }

  /* ESTILOS PÁGINA TICKETS */
  .container-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    margin: 2rem 0;

    .cards {
      border: 1px solid #158eff;
      text-align: center;
      transition: transform 0.3s ease-in-out;
      cursor: pointer;

      & h4 {
        background-color: #158eff;
        padding: 10px;
      }
      & h4,
      p:nth-of-type(2) {
        font-weight: bold;
      }
      & p:nth-of-type(3) {
        color: #a2949c;
        font-size: 0.9em;
        padding: 0 15px;
      }
    }
    .cards:hover {
      transform: scale(1.1);
      margin: 5px;
      box-shadow: 0px 5px 5px #888888;
    }
    .cards:last-of-type {
      border: 1px solid #f7df07;

      & h4 {
        background-color: #f7df07;
      }
    }
  }
  .container-form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .title-form h2 {
      background-color: #5b656e;
      font-weight: bold;
      padding: 10px 0;
      text-align: center;
      text-transform: uppercase;
    }
    /*    FORMULARIO    */
    .form-tickets {
      min-width: 300px;
      margin: 0 auto 20px;
      width: 50%;

      .container-user {
        display: flex;
        gap: 10px;
      }
      .container-mail {
        margin: 20px 0;
      }
      .container-label {
        display: flex;
        gap: 10px;

        .cantidad,
        .categoria {
          flex: 1;
        }
        .cantidad label,
        .categoria label {
          padding-bottom: 5px;
        }
      }
      .container-info {
        margin: 20px 0;

        .container-precio p {
          background-color: #9dd5fa;
          border-radius: 5px;
          color: #0067c7;
          padding: 10px;
        }
        .container-buttons {
          display: flex;
          gap: 10px;

          & button {
            background-color: #96c93e;
            border: none;
            border-radius: 3px;
            color: #fff;
            padding: 5px;
            width: 100%;
          }
          & button:active {
            animation: movimientoVertical 0.8s linear both;
          }
        }
      }
      & input,
      .categoria select {
        border: 1px solid #242525;
        border-radius: 3px;
        outline: none;
        padding: 5px 8px;
        width: 100%;
        color: #949da2;
      }
    }
  }
}

/*            FOOTER                */
.footer {
  background: linear-gradient(#1c3846, #1e5170);

  .list-footer {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
    height: 100%;
    margin: 0;
    padding: 20px 0;

    .list-footer-items .list-footer-items-link {
      color: #ffffff;
    }
  }
}

/*         ANIMACIONES              */
/* INPUT SUBMIT TICKETS */
@keyframes movimientoVertical {
  0%,
  100% {
    transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    transform: translateY(-8px);
  }
  20%,
  40%,
  60% {
    transform: translateY(8px);
  }
  80% {
    transform: translateY(6.4px);
  }
  90% {
    transform: translateY(-6.4px);
  }
}

/*         MEDIA QUERIES             */
@media screen and (min-width: 920px) {
  * {
    transition: 0.5s ease;
  }

  .header {
    .navbar {
      .navbar-brand img {
        height: 80px;
        padding-left: 50px;
      }
      .container-fluid h3 {
        display: block;
      }
      .navbar-collapse {
        background-color: #353a40;
        padding-right: 50px;
      }
    }
  }
  .container-hero {
    height: 600px;

    .container-hero-info {
      align-items: flex-end;
      padding-right: 100px;

      .description {
        padding-right: 0;
        text-align: end;
        width: 550px;

        .description-hidden {
          display: inline;
        }
      }
    }
  }

  .main {
    /* ESTILOS PÁGINA PRINCIPAL */
    .section-oradores {
      .title-oradores {
        background-color: #ffffff;
        padding-bottom: 0;

        .span {
          display: block;
          font-size: 0.4em;
        }
      }
      .container-cards-index .cards-index {
        width: 300px;
      }
    }
    .section-tour {
      flex-wrap: nowrap;
      height: 400px;

      .img-tour,
      .info-tour {
        height: inherit;
      }
    }
    .section-form {
      .title-form {
        background-color: #ffffff;
        padding-top: 20px;

        .span {
          display: block;
          font-size: 0.4em;
        }
      }
      .form-index .container-inputs {
        flex-direction: row;
        gap: 30px;
      }
      .form-index .input-form-submit {
        padding: 8px;
      }
    }

    /* ESTILOS PÁGINA TICKETS */
    .container-cards {
      .cards {
        padding: 15px;
        user-select: none;

        & h4:last-of-type {
          background-color: #ffffff;
          padding: 0;
        }
        & h4 {
          background-color: #ffffff;
          padding: 0;
        }
        & p:nth-of-type(3) {
          padding: 0;
        }
      }
      .cards:active {
        transform: rotateY(250deg);
        perspective: (700px);
        transition: 0.5s;
        transform-origin: center center;
      }
    }
    .container-form .title-form h2 {
      background-color: #ffffff;

      & span {
        font-size: 0.5em;
        font-weight: 400;
        transition: 0.5s ease;
        display: block;
      }
    }
    .container-form .form-tickets input,
    .container-form .form-tickets .categoria select {
      border: 1px solid #949da2;
    }
  }
  .footer {
    height: 90px;

    .list-footer {
      gap: 50px;

      .list-footer-items {
        width: 100px;
        text-align: center;

        .list-footer-items-link {
          text-decoration: none;
        }
      }
    }
  }
}
